.responsive-table {
  position: relative;
  overflow: hidden;

  .scrollable-area {
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
  }

  table {
    td {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.box-content.box-no-padding {
  .table-striped {
    th, td {
      &:first-child { border-left:  none; }
      &:last-child { border-right:  none; }
    }
  }
}

.dataTables_wrapper .datatables-top, .dataTables_wrapper .datatables-bottom {
  padding: 5px; 
  @include clearfix;
  @mixin font-awesome-icon {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    @include opacity(.3);
  }}
@media (max-width: 767px) {
  .dataTables_wrapper .datatables-top, .dataTables_wrapper .datatables-bottom {
    text-align: center; }
    .dataTables_wrapper .datatables-top .dataTables_filter, .dataTables_wrapper .datatables-bottom .dataTables_filter {
      float: none;
      text-align: center; }
      .dataTables_wrapper .datatables-top .dataTables_filter label, .dataTables_wrapper .datatables-bottom .dataTables_filter label {
        float: none; }
    .dataTables_wrapper .datatables-top .dataTables_paginate, .dataTables_wrapper .datatables-bottom .dataTables_paginate {
      text-align: center;
      float: none;
      margin-left: 0;
      margin-right: 0; }
    .dataTables_wrapper .datatables-top .dataTables_length, .dataTables_wrapper .datatables-bottom .dataTables_length {
      text-align: center;
      display: inline-block;
      float: none; } }
.dataTables_wrapper:after, .dataTables_wrapper:before {
  content: "";
  display: table; }
.dataTables_wrapper:after {
  clear: both; }
.dataTables_wrapper {
  *zoom: 1; }
.dataTables_wrapper .dataTables_length {
  margin: 13px 10px 5px 10px;
  float: left; }
.dataTables_wrapper .dataTables_filter {
  margin: 10px 10px 5px 10px;
  float: right; }
.dataTables_wrapper .dataTables_info {
  padding: 0;
  margin: 4px 10px 10px 10px; }
.dataTables_wrapper .dataTables_paginate {
  margin-right: 10px; }
  .dataTables_wrapper .dataTables_paginate .pagination {
    margin: 0; }
.dataTables_wrapper .filter_column input[type="text"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.dataTables_wrapper .sorting:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  content: "\f0dc";
  float: right; }
.dataTables_wrapper .sorting_asc:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  content: "\f0de";
  float: right; }
.dataTables_wrapper .sorting_desc:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  content: "\f0dd";
  float: right; }